{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"bracketSpacing": false,
	"proseWrap": "never",
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [{"files": "*.svelte", "options": {"parser": "svelte"}}]
}
